<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Module datamap</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css" title="EDoc">
</head>
<body bgcolor="white">
<div class="navbar"><a name="#navbar_top"></a><table width="100%" border="0" cellspacing="0" cellpadding="2" summary="navigation bar"><tr><td><a href="overview-summary.html" target="overviewFrame">Overview</a></td><td><a href="http://www.erlang.org/"><img src="erlang.png" align="right" border="0" alt="erlang logo"></a></td></tr></table></div>
<hr>

<h1>Module datamap</h1>
<ul class="index"><li><a href="#description">Description</a></li><li><a href="#types">Data Types</a></li><li><a href="#index">Function Index</a></li><li><a href="#functions">Function Details</a></li></ul>Data structure to save all users and tweets,
   and associated functions.
<p>Copyright © GPLv3 --- 2018 Olivier Pirson</p>

<p><b>Version:</b> May 15, 2018</p>
<p><b>Authors:</b> Olivier Pirson [<em>web site:</em> <tt><a href="http://www.opimedia.be/" target="_top">http://www.opimedia.be/</a></tt>].</p>

<h2><a name="description">Description</a></h2>Data structure to save all users and tweets,
   and associated functions.
  
<h2><a name="types">Data Types</a></h2>

<h3 class="typedecl"><a name="type-datamap_t">datamap_t()</a></h3>
<p><b>abstract datatype</b>: <tt>datamap_t()</tt></p>
<p>Data structure for all data (users and tweets). Map:
    user id =&gt; {{list of tweets, length of this list,
                 list of list of tweets (used to be access fastly to the right page)},
                list of followed users}</p>

<h2><a name="index">Function Index</a></h2>
<table width="100%" border="1" cellspacing="0" cellpadding="2" summary="function index"><tr><td valign="top"><a href="#add_new_user-1">add_new_user/1</a></td><td>Returns a new structure with a new user added and the id of this new user.</td></tr>
<tr><td valign="top"><a href="#add_subscription_to_user-3">add_subscription_to_user/3</a></td><td>Returns a new structure with the user UserIdToSubscribeTo followed by UserId.</td></tr>
<tr><td valign="top"><a href="#add_tweet-3">add_tweet/3</a></td><td>Returns a new structure with the tweet, and the tweet.</td></tr>
<tr><td valign="top"><a href="#add_user-2">add_user/2</a></td><td>Returns a new structure with the new user added.</td></tr>
<tr><td valign="top"><a href="#build_pagerefs-2">build_pagerefs/2</a></td><td>Returns the corresponding pageref to the list of tweets.</td></tr>
<tr><td valign="top"><a href="#create-0">create/0</a></td><td>Returns a empty data structure datamap_t.</td></tr>
<tr><td valign="top"><a href="#empty_value-0">empty_value/0</a></td><td>Empty value associated with each new user in the datamap_t() data structure.</td></tr>
<tr><td valign="top"><a href="#get_subscriptions-2">get_subscriptions/2</a></td><td>Returns the list of followed users by the given user.</td></tr>
<tr><td valign="top"><a href="#get_timeline-3">get_timeline/3</a></td><td>Returns the given page of the timeline of the given user.</td></tr>
<tr><td valign="top"><a href="#get_timeline-3">get_timeline/3</a></td><td></td></tr>
<tr><td valign="top"><a href="#get_tweets-3">get_tweets/3</a></td><td>Returns the given page of the tweets of the given user.</td></tr>
<tr><td valign="top"><a href="#is_datamap_t-1">is_datamap_t/1</a></td><td>Returns true iff X is a valid datamap_t.</td></tr>
</table>

<h2><a name="functions">Function Details</a></h2>

<h3 class="function"><a name="add_new_user-1">add_new_user/1</a></h3>
<div class="spec">
<p><tt>add_new_user(DataMap::<a href="#type-datamap_t">datamap_t()</a>) -&gt; {<a href="#type-datamap_t">datamap_t()</a>, <a href="common.html#type-user_id_t">common:user_id_t()</a>}</tt><br></p>
</div><p>Returns a new structure with a new user added and the id of this new user.</p>

<h3 class="function"><a name="add_subscription_to_user-3">add_subscription_to_user/3</a></h3>
<div class="spec">
<p><tt>add_subscription_to_user(DataMap::<a href="#type-datamap_t">datamap_t()</a>, UserId::<a href="common.html#type-user_id_t">common:user_id_t()</a>, UserIdToSubscribeTo::<a href="common.html#type-user_id_t">common:user_id_t()</a>) -&gt; <a href="#type-datamap_t">datamap_t()</a></tt><br></p>
</div><p>Returns a new structure with the user UserIdToSubscribeTo followed by UserId.
  If UserId == UserIdToSubscribeTo then returns Data.
  If UserIdToSubscribeTo was already followed by UserId, then returns DataMap.
  UserId and UserIdToSubscribeTo must be valid user ids.
  UserIdToSubscribeTo may be invalid but must be &gt;= 0.</p>

<h3 class="function"><a name="add_tweet-3">add_tweet/3</a></h3>
<div class="spec">
<p><tt>add_tweet(DataMap::<a href="#type-datamap_t">datamap_t()</a>, UserId::<a href="common.html#type-user_id_t">common:user_id_t()</a>, TweetContent::<a href="common.html#type-tweet_content_t">common:tweet_content_t()</a>) -&gt; {<a href="#type-datamap_t">datamap_t()</a>, <a href="common.html#type-tweet_t">common:tweet_t()</a>}</tt><br></p>
</div><p>Returns a new structure with the tweet, and the tweet.
  UserId must be valid user id.</p>

<h3 class="function"><a name="add_user-2">add_user/2</a></h3>
<div class="spec">
<p><tt>add_user(DataMap::<a href="#type-datamap_t">datamap_t()</a>, UserId::<a href="common.html#type-user_id_t">common:user_id_t()</a>) -&gt; <a href="#type-datamap_t">datamap_t()</a></tt><br></p>
</div><p>Returns a new structure with the new user added.</p>

<h3 class="function"><a name="build_pagerefs-2">build_pagerefs/2</a></h3>
<div class="spec">
<p><tt>build_pagerefs(Tweets::<a href="common.html#type-tweets_t">common:tweets_t()</a>, LengthTweets::non_neg_integer()) -&gt; [<a href="common.html#type-tweets_t">common:tweets_t()</a>]</tt><br></p>
</div><p>Returns the corresponding pageref to the list of tweets.
  LengthTweets must be the length of Tweets.</p>

<h3 class="function"><a name="create-0">create/0</a></h3>
<div class="spec">
<p><tt>create() -&gt; <a href="#type-datamap_t">datamap_t()</a></tt><br></p>
</div><p>Returns a empty data structure datamap_t.</p>

<h3 class="function"><a name="empty_value-0">empty_value/0</a></h3>
<div class="spec">
<p><tt>empty_value() -&gt; {{[], 0, []}, []}</tt><br></p>
</div><p>Empty value associated with each new user in the datamap_t() data structure.</p>

<h3 class="function"><a name="get_subscriptions-2">get_subscriptions/2</a></h3>
<div class="spec">
<p><tt>get_subscriptions(DataMap::<a href="#type-datamap_t">datamap_t()</a>, UserId::<a href="common.html#type-user_id_t">common:user_id_t()</a>) -&gt; [<a href="common.html#type-user_id_t">common:user_id_t()</a>]</tt><br></p>
</div><p>Returns the list of followed users by the given user.
  UserId must be valid user id.</p>

<h3 class="function"><a name="get_timeline-3">get_timeline/3</a></h3>
<div class="spec">
<p><tt>get_timeline(DataMap::<a href="#type-datamap_t">datamap_t()</a>, UserId::<a href="common.html#type-user_id_t">common:user_id_t()</a>, Page::<a href="common.html#type-page_t">common:page_t()</a>) -&gt; <a href="common.html#type-tweets_t">common:tweets_t()</a></tt><br></p>
</div><p>Returns the given page of the timeline of the given user.
  UserId must be valid user id.
  Unknown followed users are ignored.</p>

<h3 class="function"><a name="get_timeline-3">get_timeline/3</a></h3>
<div class="spec">
<p><tt>get_timeline(DataMap, UserId, Page) -&gt; any()</tt></p>
</div>

<h3 class="function"><a name="get_tweets-3">get_tweets/3</a></h3>
<div class="spec">
<p><tt>get_tweets(DataMap::<a href="#type-datamap_t">datamap_t()</a>, UserId::<a href="common.html#type-user_id_t">common:user_id_t()</a>, Page::<a href="common.html#type-page_t">common:page_t()</a>) -&gt; <a href="common.html#type-tweets_t">common:tweets_t()</a></tt><br></p>
</div><p>Returns the given page of the tweets of the given user.
  UserId must be valid user id.</p>

<h3 class="function"><a name="is_datamap_t-1">is_datamap_t/1</a></h3>
<div class="spec">
<p><tt>is_datamap_t(X::any()) -&gt; boolean()</tt><br></p>
</div><p>Returns true iff X is a valid datamap_t.</p>
<hr>

<div class="navbar"><a name="#navbar_bottom"></a><table width="100%" border="0" cellspacing="0" cellpadding="2" summary="navigation bar"><tr><td><a href="overview-summary.html" target="overviewFrame">Overview</a></td><td><a href="http://www.erlang.org/"><img src="erlang.png" align="right" border="0" alt="erlang logo"></a></td></tr></table></div>
<p><i>Generated by EDoc, Aug 29 2018, 23:04:13.</i></p>
</body>
</html>
